In [36]:
# Referred links
# https://www.medicalnewstoday.com/categories/heart-disease
# https://www.kaggle.com/kcsener/heartdisease-performance-of-classifications-ml

# Loding scikit's random forest classifier library
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

# Loading numpy
import numpy as np

# Setting random seed
np.random.seed(0)

# Load the Pandas libraries with alias 'pd' 
import pandas as pd 

# Read data from file 'heart.csv' 
# (in the same directory that python code should be placed)
data = pd.read_csv("heart.csv") 
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [18]:
#preperation of data:

#'target' is target column
#'feature' is feature set without normalization
target = data.target.values
feature_data = data.drop(['target'], axis = 1)

In [19]:
#normalization of feature set
feature = (feature_data - np.min(feature_data))/(np.max(feature_data)-np.min(feature_data)).values

In [31]:
#train_test_split
from sklearn.model_selection import train_test_split
feature_train, feature_test, target_train, target_test = train_test_split(feature,target,test_size = 0.20, random_state = 42)

In [27]:
#Random Forest Classification model with sklearn
rf = RandomForestClassifier(n_estimators = 85, random_state = 1)
rf.fit(feature_train, target_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=85, n_jobs=None,
            oob_score=False, random_state=1, verbose=0, warm_start=False)

In [22]:
predictions = rf.predict(feature_test)

In [23]:
# creating confusion matrix
pd.crosstab(target_test, predictions, rownames=['Actual result'], colnames=['Predicted results'])

Predicted results   0   1
Actual result
0                  24   5
1                   3  29

In [34]:
#accuracy of the model
rf.score(feature_test, target_test)

0.8688524590163934

In [35]:
print(classification_report(target_test, predictions))

              precision    recall  f1-score   support

           0       0.89      0.83      0.86        29
           1       0.85      0.91      0.88        32

   micro avg       0.87      0.87      0.87        61
   macro avg       0.87      0.87      0.87        61
weighted avg       0.87      0.87      0.87        61

In [15]:
# Show the number of observations for the test and training dataframes
print('Number of observaions in the training data:', len(feature_train))
print('Number of observaions in the test data:', len(feature_test))

Number of observaions in the training data: 242
Number of observaions in the test data: 61

In [32]:
#Decision Tree Classification model with sklearn
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()
dt.fit(feature_train, target_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [33]:
#accuracy of the model
dt.score(feature_test, target_test)

0.8360655737704918